<div class="room_index">
  <h4 class="search_count"><%= current_user.name %>さんの予約済みルーム一覧</h4>
  <p>件数： <%= @quantity %> 件</p>
  <table>
    <thead>
      <tr>
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>合計金額</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>予約確定日時</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= image_tag reservation.room.room_image.to_s, class: 'room-img-post' %></td>
          <td class="room-blue"><%= link_to reservation.room.room_name, room_path(reservation.room.id) %></td>
          <td><%= reservation.room.room_introduction %></td>
          <td>
            ¥<%= reservation.room.room_price.to_i * (((reservation.end_date.to_time - reservation.start_date.to_time) / 3600 / 24).to_i) * reservation.guest_count.to_i %>
          </td>
          <td><%= reservation.start_date.to_s(:datetime_jp) %></td>
          <td><%= reservation.end_date.to_s(:datetime_jp) %></td>
          <td><%= reservation.created_at.to_s(:datetime_jp) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
