<%= form_with method: :get, url:new_reservation_path do |f| %>
  <div>
    <label>開始日</label>
    <%= f.datetime_field :start_date, value: @start_date, readonly: true %>
  </div>
  <div>
    <label>終了日</label>
    <%= f.datetime_field :end_date, value: @end_date, readonly: true %>
  </div>
  <div>
    <label>人数</label>
    <%= f.number_field :guest_count, value: @guest_count, readonly: true %>
  </div>
  <%= f.submit 'この日程で予約する' %>
<% end %>
