<div class="account-new">
  <div class="account-new-area">
    <h1>ログイン</h1>
    <div class="account-new-area-input">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table>
          <tr>
            <td><div class="hissu"><%= f.email_field :email, autofocus: true, autocomplete: "email",:placeholder =>"メールアドレス",class:"input_form" %></div></td>
          </tr>
          <tr>
            <td><div class="hissu"><%= f.password_field :password, autocomplete: "current-password",:placeholder =>" パスワード",class:"input_form" %></div></td>
          </tr>
          <tr>
            <% if devise_mapping.rememberable? %>
              <% f.label :remember_me %>
              <% f.check_box :remember_me %>
          </tr>
        </table>
      <% end %>
      <div class="actions">
        <%= f.submit "ログイン", class: "blue-button-new" %>
      </div>
      <% end %>
      <%= link_to '新しいアカウントを作成', new_user_registration_path, class:"blue_text" %>
      <% render "devise/shared/links" %>
    </div>
  </div>
</div>
