<% if user_signed_in? %>
    <h1>Rooms#index 登録済みルーム一覧</h1>
    <p>
        <%= current_user.id %>さんが投稿したもののみ
    </p>
    <p>検索結果：
        <%= @quantity %> 件</p>

    <table>
        <thead>
            <tr>
                <th>ルームid</th>
                <th>ルーム画像</th>
                <th>ルーム名</th>
                <th>ルーム紹介</th>
                <th>料金</th>
                <th>作成日</th>
                <th>登録したユーザID</th>
            </tr>
        </thead>

        <tbody>
            <% @rooms.each do |room| %>

                <tr>
                    <td>
                        <%= room.id %>
                    </td>
                    <td>
                        <%= link_to image_tag(room.room_image.to_s),room %>
                    </td>
                    <td>
                        <%= link_to room.room_name, room %>
                    </td>
                    <td>
                        <%= room.room_address %>
                    </td>
                    <td>
                        <%= room.room_price %>
                    </td>
                    <td>
                        <%= room.created_at.to_s(:datetime_jp) %>
                    </td>
                    <td>
                        <%= room.user_id %>
                    </td>
                </tr>
                <% end %>


        </tbody>
    </table>
    <% end %>