<div class = "room_index">
<h4 class="search_count"><%= current_user.name %>さんの予約済みルーム一覧</h4>
<p>件数： <%= @quantity %> 件</p>
<table>
  <thead>
    <tr>
      <th>ルーム画像</th>
      <th>ルーム名</th>
      <th>ルーム紹介</th>
      <th>料金(合計まだ)</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>予約確定日時</th>
    </tr>
  </thead>
  <tbody>
　<% @reservations.each do |reservation| %>
    <tr>
      <td><%= image_tag reservation.room.room_image.to_s, class:"room-img-post"%></td>
      <td class="room-blue"><%= reservation.room.room_name %></td>
      <td><%= reservation.room.room_introduction%></td>
      <td>¥<%= reservation.room.room_price %></td>
      <td><%= reservation.start_date.to_s(:datetime_jp) %></td>
      <td><%= reservation.end_date.to_s(:datetime_jp) %></td>
      <td><%= reservation.created_at.to_s(:datetime_jp) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

</div>