<!DOCTYPE html>
<html>

<head>
    <title>RoomReservationApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <header>
        <nav>
             <% if user_signed_in? %>
                <%= "こんにちは#{current_user.name}さん" %>
                    <%= link_to 'ホーム', home_index_path %>
                        <%= link_to 'ログアウト',
        destroy_user_session_path, method: :delete %>
                            <%= link_to 'ユーザー編集', edit_user_registration_path %>
                                <%= link_to '登録済みルーム一覧(index)',
        rooms_path %>
                                    <%= link_to "ルーム新規登録", new_room_path %>
                                        <% else %>
                                            <%= link_to 'ホーム', home_index_path %>
                                                <%= link_to 'サインアップ',
        new_user_registration_path %>
                                                    <%= link_to 'ログイン', new_user_session_path %>
                                                        <% end %>
        </nav>
    </header>
    <%= yield %>
</body>

</html>